<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-10">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <a (click)="changeDisplayMode(displayModeEnum.Card)" [class.active]="displayMode === displayModeEnum.Card">
                        <span class="glyphicon glyphicon-th-large"></span> Card View
                    </a>
                </li>
                <li class="toolbar-item">
                    <a (click)="changeDisplayMode(displayModeEnum.Grid)" [class.active]="displayMode === displayModeEnum.Grid">
                        <span class="glyphicon glyphicon-align-justify"></span> List View
                    </a>
                </li>
            </ul>
           
        </div>
    </div>
</div>

<div class="container">
  <div class="row card-container">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of customerData;">
          <div class="card">
              <div class="card-header">
                  <a class="white">
                      {{customer.firstName }} {{ customer.lastName }} 
                  </a>
                  <a>
                      <i title="Edit"  
                         class="pull-right glyphicon glyphicon-edit edit-icon white"></i>
                  </a>
              </div>
              <div class="card-body">
                  <div class="clearfix">
                      <div class="pull-left card-body-left">
                          <a href="#" class="white">
                              <img src="assets/images/{{customer.gender | lowercase}}.png" class="card-image" />
                          </a>
                      </div>
                      <div class="pull-left card-body-right">
                          <div class="card-body-content">{{customer.city}}, {{customer.state.name}}</div>
                          <a>View Orders</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div *ngIf="!customerData.length">
          No Records Found
      </div>
  </div>
</div>