<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th cmSortBy="firstName" (sorted)="sort($event)">First Name</th>
                            <th cmSortBy="lastName" (sorted)="sort($event)">Last Name</th>
                            <th cmSortBy="address" (sorted)="sort($event)">Address</th>
                            <th cmSortBy="city" (sorted)="sort($event)">City</th>
                            <th cmSortBy="state.name" (sorted)="sort($event)">State</th>
                            <!-- Or you can do this directly rather than using sort-by directive -->
                            <th (click)="sort('orderTotal')">Order Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customerData;">
                            <td><img src="assets/images/{{ customer.gender | lowercase }}.png"
                                    class="grid-image" alt="Customer Image" /></td>
                            <td>{{ customer.firstName }}</td>
                            <td>{{ customer.lastName }}</td>
                            <td>{{ customer.address }}</td>
                            <td>{{ customer.city }}</td>
                            <td>{{ customer.state.name }}</td>
                        </tr>
                        <tr *ngIf="!customers.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
